<div class="container">
  <!-- <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <label>Types avions</label>
    <select
      class="form-control form-control-lg"
      id="idAv"
      name="idAv"
      [(ngModel)]="idAv"
      (change)="onChange()"
    >
      <option *ngFor="let typ of typesAv" value="{{ typ.idAv }}">
        {{ typ.matriculeAv }}
      </option>
    </select>
  </div> -->

  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <label>Types avions</label>
    <select
      class="form-control form-control-lg"
      id="idAv"
      name="idAv"
      [(ngModel)]="idAv"
      (change)="onChange()"
    >
      <!-- <option *ngFor="let typ of typesAv" value="{{ typ.idAv }}">
        {{ typ.matriculeAv }}
      </option> -->
      <option *ngFor="let typ of typesAv" value="{{ typ.idAv }}">
        {{ typ.matriculeAv }}
      </option>
    </select>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Matricule Avion</th>
            <th>kilometrage Avion</th>
            <th>Date fabrication</th>
            <th>Type</th>
            <!-- <th>Supprimer</th>
            <th>Modifier</th> -->
          </tr>
        </thead>
        <tbody *ngFor="let avion of avions">
          <tr>
            <td>{{ avion.idAvion }}</td>
            <td>{{ avion.matriculeAvion }}</td>
            <td>{{ avion.celometrageAvion }}</td>
            <td>{{ avion.dateFabrication | date : "dd/MM/yyyy" }}</td>
            <td>{{ avion.typeAv.matriculeAv }}</td>

            <!-- <td>
              <a class="btn btn-danger" (click)="supprimerAvion(avion)"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                class="btn btn-info"
                [routerLink]="['/updateAvion', avion.idAvion]"
                >Modifier</a
              > 
            </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
